# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build outputs
dist/
build/
*.egg-info/

# Python caches
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# SQLite & local DBs
*.db
*.sqlite3

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/
